.background {
    background: linear-gradient(137deg, #FFBFBF 0%, #A8DF8E 100%);
}

.latarktk {
    width: 1148px;
    height: 556px;
    border-radius: 25px;
    border: 10px solid #E8A1A1;
    background: #FFF;
    height: 556px; 
    left: 101px; 
    top: 35px; 
    position: absolute;
}

.judul1 {
    width: 961px;
    height: 105px;
    color: #E8A1A1;
    font-family: pacifico;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    top: -47px; 
    left: 91px; 
    position: absolute
}

.judul2 {
    width: 961px;
    height: 105px;
    color:#FFBFBF;
    font-family: pacifico;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    top: -50px; 
    left: 88px; 
    position: absolute;
}

.whyus {
    width: 100%; 
    height: 100%; 
    color: #468038; 
    font-size: 32px; 
    font-family: pacifico; 
    font-weight: bold; 
    word-wrap: break-word; 
    top: 136px; left: 0px; 
    text-align:center; 
    position: absolute;
}

.penjelasan {
    color: #648f48;
    font-family: Signika;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.165px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 290px;
    margin-top: 220px;
    margin-left: 16px;
}

.choose {
    color: #FFFF; 
    font-size: 32px; 
    font-family: pacifico; 
    font-weight: bold; 
    word-wrap: break-word; 
    top: -20px; 
    left: 22px; 
    position: absolute;
}

.fruit {
    color: #FFF;
    text-align: center;
    font-family: Signika;
    font-size: 15px;
    margin-top: 150px;
}

.protein {
    color: #FFF;
    text-align: center;
    font-family: Signika;
    font-size: 15px;
    margin-top: 94px;
}

.vegan {
    color: #FFF;
    text-align: center;
    font-family: Signika;
    font-size: 15px;
    margin-top: 94px;
}

.heart1 {
    color:#FFBFBF; 
    font-size: 85px; 
    margin-top:-18px;
    margin-left: 235px; 
    text-align:center;
    }
    
    .heart24 {
    color:#fcdbdb; 
    font-size: 85px; 
    margin-top:-110px; 
    margin-left: 235px; 
    text-align:center;
    }
    
    .heart3 {
    color:#FFBFBF; 
    font-size: 85px; 
    margin-top:-110px; 
    margin-left: 235px; 
    text-align:center;
    }

    .contact {
        text-align: center;
        font-family: pacifico;
        color: #fcdbdb;
        font-size: 40px;
        margin-top: -2px; 
    }

.contact2 {
    text-align: center;
    font-family: pacifico;
    color: #FFF;
    font-size: 40px;
    margin-top: -107px;
    margin-left: 6px;
}

.cinfo {
    color: #fff6fb;
    text-align: center;
    font-family: Signika;
    font-weight: 700;
    font-size: 17px;
    margin-top: -40px;
}

.heart1 {
    color:#FFBFBF; 
    font-size: 90px; 
    margin-top:-29px;
    margin-left: -225px; 
    text-align:center;
    }

.heart2 {
    color:#fcdbdb; 
    font-size: 90px; 
    margin-top:-180px;
    margin-left: -69px; 
    text-align:center;
    }

    .heart3 {
        color:#FFBFBF; 
        font-size: 90px; 
        margin-top:-180px;
        margin-left: 84px; 
        text-align:center;
        }

        .heart4 {
            color:#fcdbdb; 
            font-size: 90px; 
            margin-top:-180px;
            margin-left: 230px; 
            text-align:center;
            }

.ktk1 {
    width: 323px;
    height: 401px;
    border-radius: 25px;
    background: #D4F2B3;
    height: 401px; 
    left: 60px; 
    top: 125px; 
    position:absolute;
}


.ktk2 {
    width: 322px;
    height: 401px;
    border-radius: 25px;
    background: #A8DF8E;
    height: 401px; 
    left: 420px; 
    top: 125px; 
    position:absolute;
}

.ktk3 {
    width: 323px;
    height: 262px;
    border-radius: 25px;
    background: #9EB384;
    left: 770px; 
    top: 125px; 
    position:absolute;
}

.ktk4 {
    width: 323px;
    height: 132px;
    border-radius: 25px;
    background: #9EB384;
    left: 770px; 
    top: 397px; 
    position: absolute;
}


.foto1 {
    width: 293px;
    height: 154px;
    border-radius: 25px;
    top: 15px; 
    left: 15px; 
    position: absolute;
}

.choosepic1 {
    width: 287px;
    height: 85px;
    border-radius: 25px;
    top: 65px; 
    left: 18px; 
    position: absolute;
}

.choosepic2 {
    width: 287px;
    height: 85px;
    border-radius: 25px;
    top: 177px; 
    left: 18px; 
    position: absolute;
}

.choosepic3 {
    width: 287px;
    height: 85px;
    border-radius: 25px;
    top: 290px; 
    left: 18px; 
    position: absolute
}

.videoi {
    width: 305px;
    height: 175px;
    border-radius: 25px;
    margin-top: 8px;
    margin-left: 9px;
}
